//variables....
$--collective-widht :1920px;
$--header-height: 200px;
$--flag-height: 45px;
$--collective-min-widht: 1220px;
$--input-widht: 250px;
$--input-height: 30px;

$--flag-bg-color: #000;
$--flag-font-color: white;
$--main-bg-color: white;
$--secondary-font-color: rgb(190, 190, 190);
$--font-color-smooth: rgb(75, 75, 75);
$--main-font-color: rgba(64, 64, 64, 0.659);
$--header-font-size: 14px;
$--main-font-color2: rgba($color: #000000, $alpha: .75);